h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
  /* or */
  font-style: inherit;
}


/*Віктор Чайковський*/
.main-header {
  font-weight: 700px;
  color: aquamarine;
}
.content {
  font-family: Roboto, sans-serif;
  font-size: medium;
}

/* Ivan */

.container {
  background-color: rgb(164, 201, 155);
  width: 1200px;
  padding: 100px;
}

.title {
  color: rgb(12, 6, 6);
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.text {
  color: blue;
  font-size: 23px;
  
}

.img {
  width: 240px;
}

/* Karina */

.container {
  width: 960px;
  padding-left: 15px;
  padding-right: 15px;
 
  margin-left: auto;
  margin-right: auto;

}

.card-set {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    
    margin-left: calc(-1 * 20px);
    margin-top: calc(-1 * 20px);
}

.card-set > .item {
    margin-left: 20px;
    margin-top: 20px;

    flex-basis: calc(100% / 2 - 20px);

}

.card {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    overflow: hidden;
}

.card-content {
  padding: 15px;
}

.card-text {
  margin-top: 10px;
}
 /*Марина*/
 .text{ color: blueviolet;}



.about {
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
    background-color: aqua;

}

.about-position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: blueviolet;
  margin-bottom: 20px;
}

.about-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: brown;
  margin-bottom: 25px;
}
.skills {
  color: aqua;
  background-color: tomato;
}
/* Валера */
.bumblebee {
  color: blue;
  text-align: center
}

.jpg {
  margin-left: auto
  border: 1px;
  border: solid;
  padding: 20px;
  width: 400px;
  height: 400px;
  background-color: #929eaa;
}
