h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
  /* or */
  font-style: inherit;
}


.about {
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
    background-color: aqua;

}

.about-position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: blueviolet;
  margin-bottom: 20px;
}

.about-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: brown;
  margin-bottom: 25px;

.skills {
  background-color: tomato;
}
/* Валера */
.bumblebee {
 color: blue;


}